<div class="form-container">
  <mat-card class="auth-card">
    <mat-card-title class="card-title">Login</mat-card-title>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <!-- Username Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          Username is required
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="submit-button">
        Login
      </button>
    </form>

    <button mat-stroked-button color="accent" routerLink="/register" class="switch-button">
      Don't have an account? Register here
    </button>
  </mat-card>
</div>
