<app-navbar></app-navbar>
<mat-card class="game-detail-card">
  <mat-card-content>
    <!-- Game Image and Description Row -->
    <div class="game-info">
      <img *ngIf="game?.picture" [src]="backendUrl + game?.picture" alt="{{ game!.title }}" class="game-image"/>
      <div class="game-description">
        <p>{{ game?.description }}</p>
      </div>
    </div>

    <!-- Game Title -->
    <h2 class="game-title">{{ game?.title }}</h2>

    <!-- Genre and Status Row -->
    <div class="genre-status-row">
      <span>Genre: {{ game?.genre }}</span>
    </div>

  </mat-card-content>

  <!-- Edit Game Button -->
  <mat-card-actions>
    <button mat-flat-button color="primary" [routerLink]="['/edit-game', game!.id]">Edit Game</button>
  </mat-card-actions>
</mat-card>
