.game-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

mat-card {
  margin: 20px;
}

mat-card-header {
  display: flex;
  justify-content:center ;
}

mat-card-title, mat-card-subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;  /* Increased font size */
  margin-top: 10px;
}

img[mat-card-image] {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Limit the picture size */
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

mat-card-content p {
  text-align: justify;
  margin: 10px 0;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Spread the selector and like button */
  margin-top: 15px;
}

mat-form-field {
  width: 200px;
}

.game-rating-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.game-rating-controls .average-rating {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between text and star icon */
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffb300; /* Golden color for the star */
}

.user-review {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-reviews {
  margin-top: 20px;
}

mat-divider {
  margin: 20px 0;
}
