mat-card {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
  }
  
  mat-card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-form-field.mat-form-field-appearance-fill {
    margin-bottom: 15px;
  }
  
  button {
    display: block;
    margin: 0 auto;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
  }
  
  .mat-error {
    color: #d32f2f;
  }
  